language: php

notifications:
    email: false

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

script: "vendor/bin/phpspec run"

before_script:
    - "composer install --dev --no-interaction --prefer-source"
